<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">
    <div class="nav d-flex flex-column">
      <div class="nav-logo">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/logo-ANSWER.svg" alt="logo">
      </div>
      <ul class="list-unstyled fw-bold"> <!--套上list-unstyled，在BS5裡可拿掉li的點點-->
        <li><a href=""><span class="material-symbols-outlined align-middle">
          insert_chart
          </span>Dashboard</a></li>
        <li><a href=""><span class="material-symbols-outlined align-middle">
          forum
          </span>Question</a></li>
        <li class="d-flex"><a class="touch text-success" href="index.html"><span class="material-symbols-outlined align-middle">
          assignment
          </span>Assignment</a></li>
        <li><a href=""><span class="material-symbols-outlined align-middle">
          video_library
          </span>Course</a></li>
        <li><a href="admin.html"><span class="material-symbols-outlined align-middle">
          group
          </span>Admin</a></li>
        <li><a href=""><span class="material-symbols-outlined align-middle">
          settings
          </span>Settings</a></li>
      </ul>
      <div class="user d-flex align-items-center pl-32 mt-auto">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week5/andychen.jpeg" alt="頭像">
        <div class="personal pl-16">
          <p class="fs-6 fw-bold mb-0">Andy Chen</p>
          <p class="fs-7 mb-0 text-secondary">andy0401@mail.com</p>
        </div>
      </div>
    </div>

    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>