/*列表欄*/

.admin{
    a{
        display: block;
        color: $dark;
    }
    /*.nav{
        a:hover{
        color: #ffff;
        }
    }*/
    .page-link{
      color: $success;
      &:hover{
        color: #ffff;
        background-color: $success;
      }
    }
    .active-nav-span{
      color: $success;
      &:hover{  /*助教建議：有設定 .text-success，這個 class 的 color 設定有套用 !important 所以權重最高*/
        color: #ffff ;
        background-color: $success;
      }
    }

    .new-form-a{
        border-bottom: 1px solid $color-1;
    }
    .new-form-b{
      border-top: 1px solid $color-1;
    }
    .new-btn-Cancel{
      padding: 8px 32px;
    }
    .tbody th, tbody td{ /*助教建議：tr無法修改，從th與td修改*/
      padding-top: 19px;
      padding-bottom: 17px;
    }
    

    /*摺疊*/
    .modal-content{
        width: 480px;
        padding: 32px;
    }
    .img-modal{
      img{
        width: 141px;
        height: 141px;
      }
    }
    .box-modal{
        width: 251px;
    }
    .collapse-btn{
      padding: 8px 32px;
      margin-top: 32px;
    }
    /*助教示範第五週摺疊部分*/
    /*
    這部分通常是使用 JS 寫的，
    另外因為這裡可以使用 bootstrap 的 collapse 元件，
    可以利用它打開關閉時 .collapsed 這個 class 會啟動和移除，來利用 css 做出來
    */
    .icon-expand_more {
      display: none;
    }
    .icon-expand_less {
      display: inline-block;
    }
    .collapsed .icon-expand_more {
      display: inline-block;
    }
    .collapsed .icon-expand_less {
      display: none;
    }
}
