/*全站設定*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    line-height: $line-height-base;
    min-height: 100vh; /*助教建議：設定網頁的最小高度為視窗高度，才不會底下一整層空白無解*/
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
}